[submodule "optee_os"]
	path = optee_os
	url = git@github.com:liuqi-1/optee_os.git
	branch = 3.11.0
[submodule "optee_client"]
	path = optee_client
	url = git@github.com:liuqi-1/optee_client.git
	branch = 3.11.0
